app = 'wallwars-backend'
primary_region = 'lax'

[build]
  dockerfile = 'backend/Dockerfile'

[http_service]
  internal_port = 4001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
